@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&display=swap');

:root {
  --text-main: #1f2a37;
  --bg-main: #f8fcff;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Space Grotesk', 'Segoe UI', sans-serif;
  color: var(--text-main);
  background: var(--bg-main);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
